@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Stylesheet.css" type="text/css">
<h1>Welcome to Uper</h1>
<p width=60%>
    A place where you and other people in the world can share a car with each other on a trip.
    bla bla bla bla bla bla bla Try Registering and check our offers
</p>