@{
    var returnUrl = ViewData["returnUrl"];
}

<form asp-controller="Login" asp-action="SignInAsync" asp-route-returnurl="@returnUrl" class="login-input">
    <h1>Sign In</h1>
    <p>Username:</p>
    <input type="text" name="Username" />
    <p>Password:</p>
    <input type="password" name="Password" height="120" width="120" />
    <input type="submit"/>
</form>
<div>
    @Html.ActionLink("Forget password? Use this link", "Index", "PasswordReset")
</div>
<div class="register">
    @Html.ActionLink("Register", "Register",routeValues:new { returnUrl })
</div>

