<p></p>
<p>
    To view your profile pls @Html.ActionLink("Log in", "SignIn", "Login").
</p>
<p>
    And if you dont have an account you can create it @Html.ActionLink("Here", "Register", "Login").
</p>
