@model WebApp.ViewModels.TripCreatorViewModel
@{
    ViewData["Title"] = "TripCreator";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
<script src="~/js/Map.js"></script>
<script src="~/js/MapManagement.js"></script>
<link rel="stylesheet" href="~/css/TripCreator.css" type="text/css">

<div class="container">
    <h1>Trip Creator</h1>
    <h3>All fields below are required!</h3>
</div>
<body>
    <form action="/TripCreator/Index" method="post" asp-antiforgery="true">
        <div class="container">
            <p><label for="DestinationAddress.City">Destination City</label></p>
            <p><input type="text" required name="DestinationAddress.City" /></p>
        </div>
        <div class="container">
            <p><label for="DestinationAddress.Street">Destination City Street</label></p>
            <p><input type="text" required name="DestinationAddress.Street" /></p>
        </div>
        <div class="container">
            <p><label for="StartingAddress.City">Starting City</label></p>
            <p><input type="text" required name="StartingAddress.City" /></p>
        </div>
        <div class="container">
            <p><label for="StartingAddress.Street">Starting City Street</label></p>
            <p><input type="text" required name="StartingAddress.Street" /></p>
        </div>
        <div class="container">
            <p><label for="Cost">Cost per person (in zloty)</label></p>
            <p><input type="number" required name="Cost" min="0" max="999" step="0.01" /></p>
        </div>
        <div class="container">
            <p><label for="VechicleModel">Vechicle Model</label></p>
            <p><input type="text" required name="VechicleModel" /></p>
        </div>
        <div class="container">
            <p><label for="Date">Date Start</label></p>
            <p><input type="datetime-local" required name="Date"  /></p>
            <span class="validity"></span>
        </div>
        <div class="container">
            <p><label for="DateEnd">Date End</label></p>
            <p><input type="datetime-local" required name="DateEnd" /></p>
            <span class="validity"></span>
        </div>
        <div class="container">
            <p><label for="Size">Size</label></p>
            <p><input type="number" required name="Size" min="1" max="15" /></p>
        </div>
        <div class="container">
            <p><label for="IsSmokingAllowed">Is Smoking Allowed?</label></p>
            <p><input type="checkbox"  name="IsSmokingAllowed" value="true" /></p>
        </div>
        <div class="container">
            <p><label for="Description">Description</label></p>
            <p><textarea name="Description" required rows="4" cols="40"></textarea></p>
        </div>
        <button id="createBtn" type="button" onclick="showMap()">Add map</button>
        <button id="removeBtn" type="button" onclick="hideMap()" style="display:none">Remove map</button>
        <div id="mapDiv" style="display:none">
            <p>Map:</p>
            <div id="mapHolder"></div>
            <button type="button" onclick="zoomIn()">Zoom in</button>
            <button type="button" onclick="zoomOut()">Zoom out</button>
            <button type="button" onclick="setMoveMode()">Move mode</button>
            <button type="button" onclick="setDrawMode()">Draw mode</button>
            <button type="button" onclick="clearCnv()">Clear map</button>
            <input type="hidden" name="mapData" id="mapInput" />
        </div>
        <div class="container">
            <input id="confirmBtn" type="submit" name="answer" value="Accept" class="btn btn-success" />
            <input type="submit" name="answer" value="Decline" class="btn btn-danger" />
        </div>
    </form>
</body>