/*Base style for every notification*/
div.notification > p {
    margin: 4px;
    padding-left: 5px;
    border-style: solid;
}
/*Specific styles for every result class that "inherits" from base style*/
p.res-suc {
    color: green;
    background-color: palegreen;
    border-color: darkgreen;
}

p.res-fail {
    color: mediumorchid;
    background-color: pink;
    border-color: darkred;
}
