body {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.header {
    background-color: #FF00B6;
    font-size: 40px;
    padding: 20px;
}
.header text{
    cursor: pointer;
}
.nav {
    height:45px;
    position:fixed;
    clear:both;
    font-size: large;
    background-color: #FC55D8;
    padding: 5px;
    width:100%;
}
.nav left-allign{
    float: right;
    color: black;
}
.nav button{
    display: block;
    background-color: inherit;
    outline:none;
    border:none;
    width:150px;
    padding:5px;
    float:left;
}
.nav button:hover{
    background-color: #FC9CE7;
}
.nav button:active{
    background-color:#FCC9F1;
}
.sidebar{
    top:45px;
    width: 160px;
    margin: 0px;
    position: fixed;
    float: left;
    clear:none;
    background-color:#911B8D;
    height:100%;
    font-size:large;
    padding:4px;
}
.sidebar button{
    display: block;
    background-color: inherit;
    outline:none;
    border:none;
    width:100%;
    padding:10px;
}
.sidebar button:hover{
    background-color: #A52CA1;
}
.sidebar button:active{
    background-color:#B23CAE;
}
bodyRender {
    margin-left:170px;
    float:left;
    clear: none;
    background-color:transparent;
    margin-top:45px;
    margin-right:100px;
}
footer {
    background-color: lightpink;
    padding: 5px;
    clear: both;
}
.homeFirstField {
    margin-top:5px;
    padding:50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right:4000px;
    background-image: url('../images/homebackgroundimage1.png');
    background-color: lightgray;
}
.transbox {
    width: 300px;
    padding: 20px;
    background-color: rgba(233,233,233,0.6);
}
.transbox p{
    font-weight:bold;
    font-size:x-large;
}
.homeSecondField {
    margin-top: 5px;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 400px;
    background-color: lightgray;
}
.transbox p2 {
    width:250px;
    padding:2px;
}
homeThirdField {
    background-color:#ccc;
}
.homeThirdField Button {
    margin-top:20px;
    margin-bottom:20px;
    display: block;
    background-color: lightgray;
    outline: none;
    border: none;
    width: auto;
    padding: 10px;
    width:400px;
    height:75px;
    font-size:larger;
    font-weight:bold;
}
.homeThirdField Button:hover{
    background-color: #c4c4c4
}
div.account-cnf-rem {
    margin: 4px;
    background-color: pink;
    border-style: solid;
    border-color: darkred;
}

div.account-cnf-rem > p {
    margin: auto;
    padding-left: 5px;
    color: mediumorchid;
}

div.account-cnf-rem >p> a {
    color: crimson;
}
