body {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.header {
    background-color: #FF00B6;
    font-size: 40px;
    padding: 20px;
}
.header text{
    cursor: pointer;
}
.nav {
    height:45px;
    position:fixed;
    clear:both;
    font-size: large;
    background-color: #FC55D8;
    padding: 5px;
    width:100%;
}
.nav left-allign{
    float: right;
    color: black;
}
.nav button{
    display: block;
    background-color: inherit;
    outline:none;
    border:none;
    width:150px;
    padding:5px;
    float:left;
}
.nav button:hover{
    background-color: #FC9CE7;
}
.nav button:active{
    background-color:#FCC9F1;
}
.sidebar{
    top:45px;
    width: 160px;
    margin: 0px;
    position: fixed;
    float: left;
    clear:none;
    background-color:#911B8D;
    height:100%;
    font-size:large;
    padding:4px;
}
.sidebar button{
    display: block;
    background-color: inherit;
    outline:none;
    border:none;
    width:100%;
    padding:10px;
}
.sidebar button:hover{
    background-color: #A52CA1;
}
.sidebar button:active{
    background-color:#B23CAE;
}
bodyRender {
    margin-left:170px;
    float:left;
    clear: none;
    background-color:transparent;
    margin-top:45px;
}
footer{
    background-color:lightpink;
    padding: 5px;
    clear: both;
}

div.account-cnf-rem {
    margin: 4px;
    background-color: pink;
    border-style: solid;
    border-color: darkred;
}

div.account-cnf-rem > p {
    margin: auto;
    padding-left: 5px;
    color: mediumorchid;
}

div.account-cnf-rem >p> a {
    color: crimson;
}
