header{
    background-color:orchid;
    font-size: 40px;
    padding: 20px;

}
nav {
    background-color:fuchsia;
    padding: 7px;
}
sidebar{
    background-color:transparent;
}
bodyRender {
    background-color: transparent;
}
footer{
    background-color:lightpink;
    padding: 5px;
}