<form asp-controller="PasswordReset" asp-id="@ViewData["id"]" asp-token="@ViewData["token"]" asp-action="ChangePasswordAsync">
    <p>New password:</p>
    <input type="text" name="newPassword" />
    <input type="submit" />
</form>
