<form asp-controller="PasswordReset" asp-route-id="@ViewData["id"]" asp-route-token="@ViewData["token"]" asp-action="ChangePasswordAsync">
    <p>New password:</p>
    <input type="password" name="newPassword" />
    <p>Confirm password:</p>
    <input type="password" />
    <input type="submit"/>
</form>
